doctype html
- var title = ''

block vars 
    
html.no-js(lang="")
  head
    meta(charset="utf-8")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimal-ui")
    title #{title}
    link(rel="stylesheet", href="styles/vendor.css")
    link(rel="stylesheet", href="styles/main.css")
  body
    block content
    script(src="scripts/vendor.js")
    script(src="scripts/main.concat.js")
    block scripts
